{% extends 'base2.html' %}
{% load staticfiles %}
{% block form %}
	<div class="registration">
		<h1 class="headline">Вход на сайт</h1>
		<form action="{% url 'login' %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Вход</button>
		</form>
	</div>
{% endblock %}