{% extends 'base2.html' %}
{% load staticfiles %}
{% block form %}
	<div class="registration">
		<h1 class="headline">Регистрация</h1>
		{% if message %}
			<div style="color:green; text-align:center;">{{ message }}</div>
		{% endif %}
		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<input type="text" placeholder="Login" name="username">
			<input type="text" placeholder="Fullname" name="fullname">
			<input type="email" placeholder="E-mail" name="email">
			<input type="password" placeholder="Password" name="password">
			<input type="password" placeholder="Password Again" name="password2">
			<button type="submit">Зарегистрироваться</button>
		</form>
		<a href="{% url 'login' %}"><button>Войти</button></a>
	</div>
{% endblock %}

