{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>DOTA2</title>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/js.js' %}"></script>
</head>
<body>
	<div class="wrap2">
		<div class="menu">
			<div class="menuLink">
				<a href="{% url 'index' %}" class="hide">Главная</a>
				<a href="{% url 'index' %}" class="hide">Новости</a>
				<a href="{% url 'index' %}" class="hide">Игры</a>
				<a href="{% url 'index' %}" class="hide">Форумы</a>
			</div>
		</div>
        {% block form %}
        {% endblock %}
    </div>
</body>
</html>
