{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
	<div class="wrap">
		<header>
			<div>
				<table border="1">
					<tr>
						<th>#</th>
						<th>Имя</th>
						<th>Email</th>
						<th>Мобильный</th>
						<th>Рабочий</th>
					</tr>
					{% for contact from contacts %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ contact.name }}</td>
							<td>{{ contact.email }}</td>
							<td>{{ contact.mobile }}</td>
							<td>{{ contact.work }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<a href="{% url 'index' %}">
				<span style="background-image: url({% static 'img/dota2.png' %});" class="logo"></span>
			</a>
			<span class="reg">
				<ul>
					<li><a href="{% url 'login' %}" class="vhod">Войти</a>
						<ul>
	                		<li>
	                			<input type="text" placeholder="Введите логин"
	                			style="height:25px;width:130px;
	                			font-size: 1em;">
	                		</li>
	                		<li>
	                			<input type="password" placeholder="Введите пароль"
	                			style="height:25px;width:130px;
	                			font-size: 1em;">
	                		</li>
	                		<li>
	                			<button
	                			style="margin:10px 10px 10px 35px;">
	                			Вход</button>
	                		</li>
	                	</ul>
	                </li>
					<li><a href="{% url 'register' %}">Регистрация</a></li>
				</ul>
			</span>
			<span class="profile">
				{{ user.email }} <br>
				{{ user.get_full_name }}
			</span>

		</header>
		<div class="menu">
			<div class="menuLink">
				<a href="{% url 'index' %}" class="show">Главная</a>
				<a href="{% url 'index' %}" class="hide">Новости</a>
				<a href="{% url 'index' %}" class="hide">Игры</a>
				<a href="{% url 'index' %}" class="hide">Форумы</a>
			</div>
		</div>
		<div style="background-image: url({% static 'img/dota.jpg' %});" id="mainImage"></div>
		<p id="timer">15</p>
		<content>
			<div class="game">
				<img src="{% static 'img/dl.png' %}" class="tourn">
				<img src="{% static 'img/og.png' %}" class="com">
				<div class="time">
					<p>06.10.2017 • 23:00(МСК)</p>
				</div>
				<img src="{% static 'img/vega.png' %}" class="com2">
			</div>
			<div class="game">
				<img src="{% static 'img/dl.png' %}" class="tourn">
				<img src="{% static 'img/vega.png' %}" class="com">
				<div class="time">
					<p>06.10.2017 • 20:00(МСК)</p>
				</div>
				<img src="{% static 'img/og.png' %}" class="com2">
			</div>
			<div class="game">
				<img src="{% static 'img/wca.png' %}" class="tourn">
				<img src="{% static 'img/og.png' %}" class="com">
				<div class="time">
					<p>05.10.2017 • 12:00(МСК)</p>
				</div>
				<img src="{% static 'img/navi.png' %}" class="com2">
			</div>
			<div class="game">
				<img src="{% static 'img/dl.png' %}" class="tourn">
				<img src="{% static 'img/navi.png' %}" class="com">
				<div class="time">
					<p>04.10.2017 • 12:00(МСК)</p>
				</div>
				<img src="{% static 'img/vega.png' %}" class="com2">
			</div>
			<div class="game">
				<img src="{% static 'img/wca.png' %}" class="tourn">
				<img src="{% static 'img/vega.png' %}" class="com">
				<div class="time">
					<p>04.10.2017 • 10:00(МСК)</p>
				</div>
				<img src="{% static 'img/navi.png' %}" class="com2">
			</div>
		</content>
		<footer>
			<div class="writeUs">Написать нам</div>
			<div class="inputForm">
				<form>
					<p>Введите ваше имя:</p>
					<input type="text" id="name">
					<p>Введите адрес эл. почты:</p>
					<input type="text" id="Email">
					<p>Введите ваше сообщение:</p>
					<input type="text" id="message">
					<button id="send">Отправить</button>
					<p id="exit">X</p>
				</form>
			</div>
			<div class="calc">Калькулятор</div>
			<div class="calculator">
				<form>
					<p>Введите кол-во здороья:</p>
					<input type="text" id="HP">
					<p>Введите кол-во защиты:</p>
					<input type="text" id="Armor">
					<p>Введите кол-во маг. защиты:</p>
					<input type="text" id="Resist">
					<button id="calculate">Посчитать</button>
					<p id="exit2">X</p>
				</form>
			</div>
		</footer>
	</div>
{% endblock %}

